* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
  }
  
  /* Your code starts here! */
  
  .contain {
   
   width: 1000px;
   margin: 0 auto;
   padding: 0;

   
  }

  
  .navi {

	 
	  width: 90%;
	  word-spacing: 30px;
 
	
	
  }
  
  a {


	text-decoration: none;
	  color: grey;
	  font-size: 20px;
	  
  }
  
  header {
	  
	display: flex;
	flex-direction: row;
	justify-items: baseline;
	
	  
  }
  
  
   
  #headsho {


	font-size: 100px;
	text-align: center;
  }
  

  
  .contimg {
	

	display: block;
	margin-left: 0;
	margin-right: 0;

	  
	  width: 100%;
  }
  
  .innovmain {
  
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;



  
  }
  
  button {
	  
	  
	 width: 155px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid black;
	background: white;
	
  }
  
  .logo {
	
	width: 40%;

	
	
  }
  
  .topcont, .bottomcont {


	display: flex;
	flex-direction: row;
	justify-content:  space-around;
	

  }
  
  .topcont {


	border-top: 1px solid black;	



  }

.bottomcont {

	margin-bottom: 50px;
	border-bottom: 1px solid black;
}

  .topcont article {
  
   width: 44%;

  
  }
  
  
  
  article {

	margin-top: 50px;
	margin-bottom: 50px;


  }
  
  
  
  .bottomcont article {
	  width: 28%;

	
	  
  }
  
  #leftcont {
	  

	width: 40%;
	text-align: center;

	
	
  }
  
  #rightcont {
	  


	width: 50%;
  
  }
  
  
  
  body {
	  
	  
	  font-family: "Titillium Web", sans-serif;
  
  }
  
  h1, h2 {
	  font-family: "Bangers", cursive;
	letter-spacing: 1px;
  }
  
  .middle-img {
  
	width: 100%;


  }
  
  #copyhuh {
	  
	  text-align: center;
	  
  }