* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
	border: 1px solid grey;
  }
  
  /* Your code starts here! */
  
  .contain {
   
   width: 1200px;
   margin: 0 auto;
   padding: 0;
   display: flexbox;

   
  }

  
  .navi {

	  display: flex;  
	  flex-direction: column right;
	   justify-content: space-evenly;
   width: 90%;
 
	
	
  }
  
  a {
	 
	text-decoration: none;
	  color: grey;
	  font-size: 20px;
	
	  
  }
  
  header {
	  
	display: flex;
	flex-direction: row;
	justify-content: space-around | right;
	align-items: stretch;
	  margin: 0 auto;
	  padding: 0px;
	  
  }
  
  
   
  #headsho {

	  width: 40%;
	font-size: 100px;
	text-align: center;
  margin-right: 200px;
  }
  

  
  .contimg {
	  
	  width: 100%;
	  margin-right: 100px;
  }
  
  .innovmain {
  
  width: 1200px;	
  display: flex;

  
  }
  
  button {
	  
	  
	 width: 155px;
	 margin-left: 60px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid black;
	background: white;
	
  }
  
  .logo {
	
	width: 40%;
	display: flex;
	flex-direction: column | right;
justify-content: stretch;

	
	
  }
  
  .topcont {
	  
	  border-top: 5px solid black;
  }
  
  .topcont article {
  
   width: 44%;
	display: flex;
	padding-right: 1px;
	margin-left: 50px; 
  
  }
  
  
  
  
  
  .bottomcont {
	
	  border-bottom: 5px solid black;
	
  }
  
  .bottomcont article {
	  width: 28%;
	display: flex;
	padding-right: 10px;
   
	margin-left: 50px; 
	  
  }
  
  #leftcont {
	  
	display: flex;
	flex-direction: column;
	width: 40%;
	text-align: center;
	margin-left: 75px;
	padding-top: 0;
	
	
  }
  
  #rightcont {
	  
	  display: flex;

	width: 50%;
	margin-left: 150px;
  
  }
  
  
  
  body {
	  
	  
	  font-family: "Titillium Web", sans-serif;
  
  }
  
  h1, h2 {
	  font-family: "Bangers", cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
  }
  
  .middle-img {
  
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  }
  
  #copyhuh {
	  
	  text-align: center;
	  
  }